doctype html
html(lang="en")
  
  head
    title!= pagetitle
    include ./includes.jade

  body
    h1 Cards In Your Collection
    #container.col

      each card in cards
        .card
          img(src='http://gatherer.wizards.com/Handlers/Image.ashx?name=#{card.name}&type=card&.jpg')
          .card-info
            h3 #{card.name}
            h6 #{card.ownedPrinting}
            h6 Owned: #{card.numberOwned}