doctype html
html(lang="en")
	
	head
		title Search Return for #{searchterm}
		include ./includes.jade

	body
		h1 Results for "#{searchterm}"
		
		.search-return

			each card in cardResults

				.add-card

					h1 #{card.cardName}
					img(src='http://gatherer.wizards.com/Handlers/Image.ashx?name=#{card.cardName}&type=card&.jpg')
					form(name="cardSearch", action="#{searchTarget}", method="post")
						label(name="Quantity") Qty
						input(type="text" name="qty")
						input(type="hidden" name="uuid" value='#{card.uuid}')
						select(name="set")
							each val in card.sets
								option(value='#{val}') #{val}
						input(type="submit", value="Save")
		
		a(href="#{backBtn}").backbtn &larr; Back to search

		if dumpCheck == true
			code #{dumpData}